html {
    background: black;
}

#mainTitle{
    font-family: "Inter", sans-serif;
    color: #E6E6E6;
    font-weight: 500;
    line-height: 1.12;
    max-width: 1200px; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
    display: block;
    margin: 0 auto;
    gap: 8px;
}

.arrow-icon {
    display: inline-flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-icon svg {
    width: 30px;
    height: 30px;
    color: #8AA8DF;
    transition: 0.5s ease-in-out;
}

.arrow-icon:hover svg {
    filter: blur(2px);
    cursor: pointer;
}

#mainTitle h1 {
    font-size: clamp(1.5rem, 12vw, 4rem);
    font-weight: 500;
    margin-top: auto;
}

#mainTitle-cta {
    color: #8AA8DF;
}

#mainTitle-light {
    font-weight: 300;
    color: #A9A9A9;
}

header {
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#get-in-touch-button {
    bottom: 20px;
    right: 20px;
    width: 183px;
    height: 63px;
    background-color: rgba(0, 0, 0, 0.66);
    border: 2px solid rgba(180, 180, 180, 0.33);
    border-radius: 50px;
    position: fixed;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#get-in-touch-button:hover {
    cursor: pointer;
}

#get-in-touch-button a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    color: #E6E6E6;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: filter 0.5s ease-in-out;
}

#get-in-touch-button:hover a,
#get-in-touch-button:active a {
    filter: blur(2px);
}

.projects-heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(4vw, 10vw, 4rem);
    max-width: 100%;
    color: #E6E6E6;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 100px;
    margin-bottom: 0px;
}


.know-more-text {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: clamp(0.75rem, 4vw, 4rem);
    max-width: 1200px; 
    margin: 0;
    padding: 20px;
    padding-top: 5px;
}

.know-more-text a {
    color: #A9A9A9;
    text-decoration: underline;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.foodlink-mockup-img {
    scroll-snap-align: start;
    width: 200px;
}

.ftm-mockup-img {
    scroll-snap-align: start;
    width: 300px;
}