::selection {
    background: #8AA8DF;
    color: #E6E6E6;
}

html {
    background: black;
}

#mainTitle{
    font-family: "Inter", sans-serif;
    color: #E6E6E6;
    font-weight: 500;
    line-height: 1.12;
    max-width: 1200px; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
    display: block;
    margin: 0 auto;
    gap: 8px;
}

@media (min-width: 1200px) {
    #mainTitle {
        font-family: "Inter", sans-serif;
        color: #E6E6E6;
        font-weight: 500;
        line-height: 1.12;
        max-width: 1200px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 15%;
        gap: 8px;
    }
}

.arrow-icon {
    display: inline-flex;
    align-items: center;
    transform: rotate(90deg);
}

.arrow-icon svg {
    width: 30px;
    height: 30px;
    color: #8AA8DF;
    transition: 0.5s ease-in-out;
}

.arrow-icon:hover svg {
    filter: blur(2px);
    cursor: pointer;
}

#mainTitle h1 {
    font-size: clamp(1.5rem, 12vw, 50px);
    font-weight: 500;
    margin-top: auto;
}

#mainTitle-cta {
    color: #8AA8DF;
}

#mainTitle-light {
    font-weight: 300;
    color: #A9A9A9;
}

header {
    max-width: 100%;
    padding: 20px;
    display: flex;
    align-items: start;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#projects {
    margin: 0 auto;
    max-width: 1200px;
}

#get-in-touch-button {
    width: 183px;
    height: 63px;
    background-color: rgba(0, 0, 0, 0.66);
    border: 2px solid rgba(180, 180, 180, 0.33);
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: max(calc((100% - 1200px) / 2));
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

@media (max-width: 1200px) {
    #get-in-touch-button {
        right: 20px;
    }
}

#get-in-touch-button:hover {
    cursor: pointer;
}

#get-in-touch-button a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.35rem;
    color: #E6E6E6;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: filter 0.5s ease-in-out;
}

#get-in-touch-button:hover a {
    filter: blur(2px);
}

.projects-heading {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(1.5rem, 10vw, 42px);
    max-width: 100%;
    color: #E6E6E6;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 100px;
    margin-bottom: 0px;
}


.know-more-text {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: clamp(0.75rem, 4vw, 16px);
    max-width: 1200px; 
    margin: 0;
    padding: 20px;
    padding-top: 5px;
}

.know-more-text a {
    color: #A9A9A9;
    text-decoration: underline;
}

.carousel {
    display: grid;
    place-content: flex-start;
    grid-auto-flow: column;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin; 
    scrollbar-color: #A9A9A9 transparent;
    margin-left: 20px;
    margin-right: 20px;
    mask-image: linear-gradient(to right, transparent, black 20px, black calc(100% - 20px), transparent);
}


@media (min-width: 1200px) {
    .carousel {
        overflow-x: scroll; 
    }
}

.foodlink-mockup-img {
    scroll-snap-align: start;
    width: 200px;
}

.desktop-mockup-img {
    scroll-snap-align: start;
    width: 300px;
}

@media (min-width: 1200px) {
    .desktop-mockup-img {
        width: 450px;
    }
}

#contact {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact a {
    font-family: Inter;
    color: #8AA8DF;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
